<div>
  <table>
    <tr *ngFor="let book of bookList" (click)="selectBook(book)">
      <td>
        <h2>{{ book.title }}</h2>
        <p>ISBN: {{ book?.isbn }}</p>
        <p>Price: ${{ book?.price }}</p>
        <p>Published Year: {{ book?.publishedYear }}</p>
        <p *ngIf="book?.availability">Available</p>
        <p *ngIf="!book?.availability">Out of Stock</p>
      </td>
      <td>
        <img
          [ngSrc]="book?.imageUrl || '../assets/pngimg1.png'"
          alt="{{ book?.title }}"
          width="212"
          height="212"
          priority
        />
      </td>
      <td>
        <button (click)="editBook(book.isbn)">Edit</button>
        <button (click)="onDelete(book.isbn)">Delete</button>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="error" class="error">{{ error }}</div>
