
<!-- book-list.component.html -->



<!--<div *ngFor="let book of bookList3; let i = index">
  <app-book-list-item [contentItem]="book" [isEven]="i % 2 === 0"></app-book-list-item>
</div>
-->

<div>

  <table>
    <tr *ngFor="let book of bookList" [routerLink]="['/books', book.isbn]">
      <td>
        <h2>{{ book.title }}</h2>
        <p>ISBN: {{ book?.isbn }}</p>
        <p>Price: ${{ book?.price }}</p>
        <p>Published Year: {{ book?.publishedYear }}</p>
        <p *ngIf="book?.availability">Available</p>
        <p *ngIf="!book?.availability">Out of Stock</p>
      </td>
      <td>
        <img
          [ngSrc]="book?.imageUrl || '../assets/pngimg1.png'"
          alt="{{ book?.title }}"
          width="212"
          height="212"
          priority
        />
      </td>
    </tr>
  </table>

</div>
