<div style="overflow-x: auto;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

    <!-- ISBN Column -->
    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let book"> {{ book.isbn }} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="price-column"> Price </th>
      <td mat-cell *matCellDef="let book" class="price-column">
        <p>{{ book.price | currency:'CAD':'symbol':'1.2-2' }}</p>
      </td>
    </ng-container>

    <!-- Published Date Column -->
    <ng-container matColumnDef="publishedDate">
      <th mat-header-cell *matHeaderCellDef class="date-column"> Published Date </th>
      <td mat-cell *matCellDef="let book" class="date-column">
        <p>{{ book.publishedDate | date:'yyyy-MM-dd' }}</p>
      </td>
    </ng-container>

    <!-- Availability Column -->
    <ng-container matColumnDef="availability">
      <th mat-header-cell *matHeaderCellDef class="availability-column"> Availability </th>
      <td mat-cell *matCellDef="let book" class="availability-column">
        <p [ngStyle]="{
            'color': (book | availabilityStyle).color,
            'font-weight': (book | availabilityStyle).fontWeight
          }">
          {{ (book | availabilityStyle).text }}
        </p>
      </td>
    </ng-container>

    <!-- Actions Column -->
<!--    <ng-container matColumnDef="actions">-->
<!--      <th mat-header-cell *matHeaderCellDef class="actions-column"> Actions </th>-->
<!--      <td mat-cell *matCellDef="let book" class="actions-column">-->
<!--        <button mat-raised-button color="primary" (click)="editBook(book.isbn, $event)">Edit</button>-->
<!--        <button mat-raised-button color="warn" (click)="onDelete(book.isbn)">Delete</button>-->
<!--      </td>-->
<!--    </ng-container>-->

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions-column"> Actions </th>
      <td mat-cell *matCellDef="let book" class="actions-column">
        <section>
          <mat-button-toggle-group name="bookActions" aria-label="Book Actions" [hideSingleSelectionIndicator]="true">
            <mat-button-toggle (click)="editBook(book.isbn, $event)">
              Edit
            </mat-button-toggle>
            <mat-button-toggle (click)="onDelete(book.isbn)">
              Delete
            </mat-button-toggle>
          </mat-button-toggle-group>
        </section>
      </td>
    </ng-container>


    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="image-column"> Image </th>
      <td mat-cell *matCellDef="let book" class="image-column">
        <img [ngSrc]="book.imageUrl || '../assets/pngimg1.png'"
             alt="{{ book.title }}"
             width="100" height="100" />
      </td>
    </ng-container>

    <!-- Table Header and Rows -->
    <tr mat-header-row *matHeaderRowDef="['isbn', 'price', 'publishedDate', 'availability', 'image', 'actions']"></tr>
    <tr mat-row *matRowDef="let book; columns: ['isbn', 'price', 'publishedDate', 'availability', 'image', 'actions'];"
        matTooltip="{{ book.genre }}"
        matTooltipPosition="left"
        aria-label="Book Genre Tooltip">
    </tr>
  </table>
</div>
<mat-paginator [length]="100"
               [pageSize]="5"
               [pageSizeOptions]="[5, 10, 25, 100]"
               aria-label="Select page">
</mat-paginator>
