<!-- modify-book-list-item.component.html -->
<br/><br/>

<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td><label for="isbn">ISBN</label></td>
      <td>
        <input type="number" id="isbn" formControlName="isbn"
               matTooltip="Enter the ISBN of the book"
               matTooltipPosition="right"
               aria-label="ISBN Tooltip"
               [appHighlightOnFocus]="'#daffb3'" />
      </td>
    </tr>
    <tr>
      <td><label for="title">Title</label></td>
      <td>
        <input type="text" id="title" formControlName="title"
               matTooltip="Enter the title of the book"
               matTooltipPosition="right"
               aria-label="Title Tooltip"
               [appHighlightOnFocus]="'#ffe6e6'" />
      </td>
    </tr>
    <tr>
      <td><label for="genre">Genre</label></td>
      <td>
        <input type="text" id="genre" formControlName="genre"
               matTooltip="Enter the genre of the book"
               matTooltipPosition="right"
               aria-label="Genre Tooltip"
               [appHighlightOnFocus]="'#ffa366'" />
      </td>
    </tr>
    <tr>
      <td><label for="availability">Available</label></td>
      <td>
        <mat-checkbox id="availability" formControlName="availability"
                      matTooltip="Mark if the book is available"
                      matTooltipPosition="right"
                      aria-label="Availability Tooltip">
          Available
        </mat-checkbox>
      </td>
    </tr>
    <tr>
      <td><label for="price">Price</label></td>
      <td>
        <input type="number" id="price" formControlName="price"
               matTooltip="Enter the price of the book"
               matTooltipPosition="right"
               aria-label="Price Tooltip"
               [appHighlightOnFocus]="'#b3ffb3'" />
      </td>
    </tr>
    <tr>
      <td><label for="publishedDate">Published Date</label></td>
      <td>
        <input type="text" id="publishedDate" formControlName="publishedDate"
               matTooltip="Enter the published date of the book"
               matTooltipPosition="right"
               aria-label="Published Date Tooltip"
               [appHighlightOnFocus]="'#99ffe6'" />
      </td>
    </tr>
    <tr>
      <td><label for="imageUrl">Image URL</label></td>
      <td>
        <input type="text" id="imageUrl" formControlName="imageUrl"
               matTooltip="Provide the image URL (only 1, 2, 3, or 4)"
               matTooltipPosition="right"
               aria-label="Image URL Tooltip"
               [appHighlightOnFocus]="'#dab3ff'" />
      </td>
    </tr>
  </table>

  <br/><br/>

  <!-- Form Buttons -->
  <div class="form-buttons">
    <!-- Submit Button -->
    <button mat-fab extended color="primary" type="submit" [appHoverHighlight]="'lightgreen'">
      <mat-icon>add</mat-icon>Add (Update) Book
    </button>
    <!-- Navigation Button -->
    <button mat-fab extended color="accent" type="button" (click)="navigateToBookList()" [appHoverHighlight]="'lightyellow'">
      <mat-icon>arrow_back</mat-icon> Back to List
    </button>
  </div>

</form>
