<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
</head>
<body>

<!--
  <h3>All Data Related to Books</h3>
  <table class="header">
    <tr>
      <td >Title</td>
      <td>Author</td>
      <td>Genre</td>
      <td>Published Year</td>
      <td>ISBN Number</td>
      <td>Availability</td>
      <td>Price</td>
    </tr>
  </table>
    <div *ngFor="let book of bookList">
      <table class="all">
        <tr>
          <td >{{book.title}}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.genre }}</td>
          <td>{{ book.publishedYear }}</td>
          <td>{{book.isbn}}</td>
          <td>{{book.availability}}</td>
          <td>{{book.price}}</td>
        </tr>

      </table>
    </div>
  <h3>Available Books With Title and Price</h3>
  <table class="header">
    <tr>
      <td>
        Title
      </td>
      <td>
        Price
      </td>
    </tr>
  </table>
    <div *ngFor="let book of bookList">
      <div *ngIf="book.availability">
        <table class="filter">
          <tr>
            <td >
              {{book.title}}
            </td>
            <td >
              {{book.price}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  --->
  <!-- Assignment-3 ---->
  <h1 style="color: indigo">Assignment-4</h1>
  <h2>Selected Book</h2>
  <app-book-list-item [contentItem]="book"></app-book-list-item>
  <h2>Book List</h2>
  <app-book-list></app-book-list>

</body>
</html>

