<div *ngIf="book" class="book-detail">
  <div *ngIf="book" class="book-detail">
    <table>
      <tr>
        <td>
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title-group>
                <!-- Left Side Content -->
                <div>
                  <mat-card-title>{{ book.title }}</mat-card-title>
                  <p>ISBN: {{ book.isbn }}</p>

                  <p>Published Date: {{ book.publishedDate | date: 'yyyy-MM-dd' }}</p>
                  <p
                    [ngStyle]="{
                    'color': (book | availabilityStyle).color,
                    'font-weight': (book | availabilityStyle).fontWeight
                  }"
                  >
                    {{ (book | availabilityStyle).text }}
                  </p>
                </div>
                <!-- Right Side Image -->
                <img
                  mat-card-image
                  [ngSrc]="book.imageUrl || '../assets/pngimg1.png'"
                  alt="{{ book.title }}"
                  width="150"
                  height="150"
                  matTooltip="{{ book.genre }}"
                  matTooltipPosition="left"
                  aria-label="Book Genre Tooltip"
                />
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </td>
      </tr>
    </table>
  </div>

</div>


