<div *ngIf="book" class="book-detail">
  <table>
    <tr>
      <td>

        <h2>{{ book |bookDescription |uppercase}}</h2>
        <p>ISBN: {{ book.isbn }}</p>
        <p>Price: {{ book.price |currency :'CAD' : "symbol":'1.2-2' }}</p>
        <p>Published Date: {{ book.publishedDate |date :'yyyy-MM-dd' }}</p>
        <p [ngStyle]="{ 'color': (book | availabilityStyle).color, 'font-weight': (book | availabilityStyle).fontWeight }">
          {{ (book | availabilityStyle).text }}
        </p>

      </td>
      <td>


        <img
          [ngSrc]="book.imageUrl || '../assets/pngimg1.png'"
          alt="{{ book.title }}"
          width="212"
          height="212"
          priority
        />

      </td>
    </tr>

  </table>
  <!-- Navigation buttons
  <button (click)="goBackward()" [disabled]="currentIndex === 0">Previous</button>
  <button (click)="goForward()" [disabled]="currentIndex === userList.length - 1">Next</button>
  <button (click)="goBack()">Back to Student List</button>
-->
</div>


