<div *ngIf="book" class="book-detail">
  <table>
    <tr>
      <td>

        <h2>{{ book.title }}</h2>
        <p>ISBN: {{ book?.isbn }}</p>
        <p>Price: ${{ book?.price }}</p>
        <p>Published Year: {{ book?.publishedYear }}</p>
        <p *ngIf="book?.availability">Available</p>
        <p *ngIf="!book?.availability">Out of Stock</p>

      </td>
      <td>


        <img
          [ngSrc]="book?.imageUrl || '../assets/pngimg1.png'"
          alt="{{ book?.title }}"
          width="212"
          height="212"
          priority
        />

      </td>
    </tr>

  </table>

  <!-- Navigation buttons
  <button (click)="goBackward()" [disabled]="currentIndex === 0">Previous</button>
  <button (click)="goForward()" [disabled]="currentIndex === userList.length - 1">Next</button>
  <button (click)="goBack()">Back to Student List</button>
-->
</div>
